@import "../../../node_modules/bootstrap/scss/bootstrap";
/* @import "bootstrap-sprockets";
@import "bootstrap"; */


body{
    background: url('wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.card {
    background-color: rgba(75, 90, 226, 0.3);
    box-shadow: 0 0 10 rgba(245,245,245,0.8);
    color: white;
    margin-top: 10%;
    position: relative;
    text-align: center;
}